header div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}

header div img {
    padding: .5em;
}

header nav ul {
    display: none;
}

@media (min-width: 1024px) {
    header nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background: #ccc;
        list-style-type: none;
    }
    header nav ul a {
        text-decoration: none;
    }
}