:root {
    --header-height: 7em; /* or whatever the height of your header is */
}

body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer";
    background: #def4ff;
}

body > header {
    position: fixed;
    height: var(--header-height);
    background: #ff4255;
    width: 100%;
}

header div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    background: #def4ff;
    color: #064e74;
}

header div img {
    padding: .5em;
}

header nav ul {
    display: none;
    font-size: 1.2rem;
    padding: .5em;
}

main, aside {
    margin-top: var(--header-height);
}

main article {
    border: #fff .5em;
    background: #fff;
    border-radius: .5em;
    margin: 1.5em;
    padding: 2em;
}

main article h2 {
    color: #ff4255;
    margin: 0 0 0.5em 0;
}

main img {
    width: 100%;
    border-radius: .2em;
}

aside {
    display: none;
}

main {
    grid-area: main;
}

body > footer {
    color: #fff;
    background: #064e74;
    padding: 1em;
    width: 100%;
    grid-area: footer;
}

body > footer a:link, a:visited{
    color: #fff;
    text-decoration: none;
}

@media (min-width: 1024px) {

    body {
        display: grid;
        grid-template-columns: 15% 50% 20% 15%;
        grid-template-rows: auto;
        grid-template-areas:
            "header header header header"
            ". main aside ."
            "footer footer footer footer";
        background: #def4ff;
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background: #00b4ff;
        list-style-type: none;
        margin: auto;
    }

    header nav ul a {
        text-decoration: none;
        color: white;
    }

    main {
        grid-area: main;
    }

    aside {
        display: block;
        grid-area: aside;
    }

    aside img {
        width: 100%;
        border-radius: .2em;
    }

    aside section {
        border: #fff .5em;
        background: #fff;
        border-radius: .5em;
        margin-top: 1.5em;
        padding: 1.5em;
    }

    aside section h2 {
        color: #000;
        margin: 0 0 0.5em 0;
    }

    aside section p {

    }

    aside footer {
        color: #fff;
        background: #666;
        padding: .5em;
    }
}

